body {
    background-image: url(../images/double-bubble-outline.png);
}
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: teal;
            color: white;
            text-align: center;
        }
    img {
        float: left;
    }
    p {
        font-family: Arial, Helvetica, sans-serif;
        size: 16px;
    }
.col {
    margin-left: 90px;
    margin-bottom: 25px;
}
