body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Background
body {
  background-image: url(../assets/images/white.jpg);
  background-size: 100%;
  background-position: center;
}
html, body {
  height:100%;
} */
