/* body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* Background */
body {
  background-color: rgb(221, 220, 220) !important;
  background-size: 100%;
  background-position: center;
}
html, body {
  height:100%;
}
